@model IEnumerable<Assistente.Models.Receita>

@{
    ViewData["Title"] = "Admin Page";
}

<h2>Gestor de Receitas</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prodecimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avaliacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoPreparacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nutricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prodecimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avaliacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoPreparacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nutricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReceitaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReceitaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReceitaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
